

* {
    font-family:verdana,sans-serif;
    font-size  :14pt; }

body {
	 width     :100%;
	 margin    :20px auto;
    background:#FFFFFF;
    border    :none; }

html {
    background:#FFF }

img {
    margin-right      :15px; }

li a{
    font-size: 10pt;
    text-decoration:none;
    color:#F7931E;}

.menu a, .button{
    text-decoration:none;
    color:white ;}

li a:hover, .button:hover {
    color:#80B054; }
 
.appname {
    
    text-align :left;
    background :#F7931E;
    color      :#fff;
    font-family:helvetica;
    font-size  :30pt;
    padding    :15px; }

.fieldname {
    float:left;
    width:120px;
   }
	 
.main {
    margin-left:40px;
    color:#80B054; }

.info {
    background :#FFF;
    color      :#80B054;
	 border     :2px solid #F7931E;
	 padding    :5px 10px;
    margin-left:40px; }

.menu li {
    font-style: italic;
    display           :inline;
    padding           :4px 6px;
    border            :2px solid #F7931E;
	 color             :#80B054;
    margin-right      :8px; }

.subhead {
    font-weight:bold;
    font-size: 14pt;
  }

.taken, .error {
    color:red; }

.available {
    color:green; }

.whisper {
    font-style:italic;
    color     :#8FB054;  }
.socnet {
    text-align: center;
    padding-top: 40px;
    border: 3px solid #F7931E;
    color: #80B054;
    height: 80px;
    width: 99.5%; 
    font-style: italic;
    font-weight: bold;
    font-size: 18pt;
    
}
.else {
   
    padding-top: 65px;
    border: 3px solid #F7931E;
    color: #80B054;
    height: 200px;
    width: 99.5%; 
    font-style: italic;
    font-weight: bold;
    font-size: 18pt;
    
    
} 
.input{
    border: 2px solid #F7931E;
    color: #80B054;
    background-color: white;
}
.sth {
    color: #8FB054;
    font-size: 14pt;
}
 sth a:hover {
    color: #F7931E;
    
}
.abc {
    font-size: 14pt;
    text-decoration:none;
    color:#F7931E;
    
}
.nut{
    color: #80B054;
    border: 2px solid #F7931E;
    
}

.font{
    color: #F7931E;
    font-size: 14pt;
}